<h1> <%= @park.name %></h1>
<p>Admissions: <%= @park.ticket_price_to_dollar %></p>
<h3>Rides:</h3>
<ol class='rides'>
  <% @park.rides_alphabetically.each do |ride| %>
    <li> <%= ride.name %> </li>
  <% end %>
</ol>
<h3 class="thrill-rating">
Average Thrill Rating of Rides: <%= @park.average_thrill_rating %>/10
</h3>
